:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --text-color: rgb(7, 5, 68);
    --label-color: rgb(75, 102, 98);
    --placeholder-color: rgb(136, 136, 153);
    --offset-color: rgb(217, 236, 217);
    --action-color: rgb(77, 132, 252);

    --primary-font: 'Rubik', Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
        'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    height: 100vh;
    font-family: var(--primary-font);
    color: var(--text-color);
    background: linear-gradient(90deg, rgb(0, 94, 255), rgba(9, 9, 121, 1), rgb(9, 0, 189));
    /* background: var(--background); */
    display: grid;
    grid-template-rows: auto 1fr;
}

.page-header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 20%;

    /* background-color: var(--header-background); */
    background-color: black;
    color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.page-header .logo {
    height: 100%;
}

.page-header .title {
    font-size: 1.3em;
    font-weight: 800;
    flex-grow: 2;
}

.page-header nav {
    display: flex;
    gap: 10px;
}
.page-header a {
    text-decoration: none;
    color: white;
    transition: 400ms;
}

.page-header a.nav-link {
    min-width: 125px;
}
.page-header a.nav-link2 {
    min-width: 65px;
}

.page-header a:hover {
    transform: scale(1.05);
    transition: 400ms;
}
main {
    padding: 20px;
}

.avatar {
    height: 36px;
    width: 36px;
    object-fit: cover;
    border: 1px solid var(--placeholder-color);
    border-radius: 100%;
}

.error {
    min-height: 1em;
    color: red;
}

.hidden {
    display: none;
}

.email {
    font-weight: bold;
    font-size: 2rem;
    color: blueviolet;
}

.email-login {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.email-p-1 {
    min-width: 170px;
}
