ul {
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-content: center;
    gap: 10px 20px;
    margin: auto 20%;
}
li {
    display: grid;
    grid-template-columns: 6fr 1fr;
    width: 800px;
    border: 1px solid black;
    box-shadow: 0px 0px 15px 0px black;
    padding: 0rem 1.5rem;
    color: white;
    background: linear-gradient(
            90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(9, 9, 121, 1) 10%,
            rgb(0, 102, 255)
        )
        100%;
    transform: skew(-10deg);
    gap: 20px;
}
li:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px white;
    transition: 250ms;
}
.completed {
    background: rgba(0, 255, 68, 0.466);
    transform: scale(0.8) translateX(-100px) skew(-10deg);
    transition: 250ms;
}

/* .email {
    font-weight: bold;
    font-size: 2rem;
    color: blueviolet;
}

.email-login {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.email-p-1 {
    min-width: 170px;
} */

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 125, 125);
    border-radius: 1rem;
    padding: 0px 30px;
    border: 1px solid white;
    height: 2rem;
}
.delete-button:hover {
    background-color: red;
    cursor: pointer;
    color: white;
}
